<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->
<link rel="icon" type="image/png" href="/https://baekyeomin.github.io/assets/images/logo.ico/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/https://baekyeomin.github.io/assets/images/logo.ico/favicon.svg" />
<link rel="shortcut icon" href="/https://baekyeomin.github.io/assets/images/logo.ico/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/https://baekyeomin.github.io/assets/images/logo.ico/apple-touch-icon.png" />
<link rel="manifest" href="/https://baekyeomin.github.io/assets/images/logo.ico/site.webmanifest" />
<!-- end custom head snippets -->
